---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/sadpathtylor?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1571294147'
      Etag:
      - W/"e7f20991cbc7699c27c26ef9f86f1ef7"
      Last-Modified:
      - Mon, 14 Oct 2019 17:10:35 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"sadpathtylor","id":56557280,"node_id":"MDQ6VXNlcjU2NTU3Mjgw","avatar_url":"https://avatars1.githubusercontent.com/u/56557280?v=4","gravatar_id":"","url":"https://api.github.com/users/sadpathtylor","html_url":"https://github.com/sadpathtylor","followers_url":"https://api.github.com/users/sadpathtylor/followers","following_url":"https://api.github.com/users/sadpathtylor/following{/other_user}","gists_url":"https://api.github.com/users/sadpathtylor/gists{/gist_id}","starred_url":"https://api.github.com/users/sadpathtylor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sadpathtylor/subscriptions","organizations_url":"https://api.github.com/users/sadpathtylor/orgs","repos_url":"https://api.github.com/users/sadpathtylor/repos","events_url":"https://api.github.com/users/sadpathtylor/events{/privacy}","received_events_url":"https://api.github.com/users/sadpathtylor/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2019-10-14T17:10:35Z","updated_at":"2019-10-14T17:10:35Z"}'
  recorded_at: Thu, 17 Oct 2019 05:35:47 GMT
recorded_with: VCR 4.0.0
