---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tylorschafer?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1571105104'
      Etag:
      - W/"6b5eeb39faf95239166e00ceb4a96e6a"
      Last-Modified:
      - Mon, 14 Oct 2019 17:08:54 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"tylorschafer","id":3358870,"node_id":"MDQ6VXNlcjMzNTg4NzA=","avatar_url":"https://avatars0.githubusercontent.com/u/3358870?v=4","gravatar_id":"","url":"https://api.github.com/users/tylorschafer","html_url":"https://github.com/tylorschafer","followers_url":"https://api.github.com/users/tylorschafer/followers","following_url":"https://api.github.com/users/tylorschafer/following{/other_user}","gists_url":"https://api.github.com/users/tylorschafer/gists{/gist_id}","starred_url":"https://api.github.com/users/tylorschafer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tylorschafer/subscriptions","organizations_url":"https://api.github.com/users/tylorschafer/orgs","repos_url":"https://api.github.com/users/tylorschafer/repos","events_url":"https://api.github.com/users/tylorschafer/events{/privacy}","received_events_url":"https://api.github.com/users/tylorschafer/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":"tylorschafer@gmail.com","hireable":null,"bio":null,"public_repos":38,"public_gists":22,"followers":5,"following":2,"created_at":"2013-01-23T20:33:44Z","updated_at":"2019-10-14T17:08:54Z","private_gists":1,"total_private_repos":3,"owned_private_repos":3,"disk_usage":1281,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Tue, 15 Oct 2019 01:15:15 GMT
- request:
    method: get
    uri: https://api.github.com/users/sadpathtylor?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1571105104'
      Etag:
      - W/"e7f20991cbc[...]
