---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1571106259'
      Etag:
      - W/"f4f9c8291b43e2aebfe29e41431ffea4"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"danmoran-pro","id":49169813,"node_id":"MDQ6VXNlcjQ5MTY5ODEz","avatar_url":"https://avatars3.githubusercontent.com/u/49169813?v=4","gravatar_id":"","url":"https://api.github.com/users/danmoran-pro","html_url":"https://github.com/danmoran-pro","followers_url":"https://api.github.com/users/danmoran-pro/followers","following_url":"https://api.github.com/users/danmoran-pro/following{/other_user}","gists_url":"https://api.github.com/users/danmoran-pro/gists{/gist_id}","starred_url":"https://api.github.com/users/danmoran-pro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danmoran-pro/subscriptions","organizations_url":"https://api.github.com/users/danmoran-pro/orgs","repos_url":"https://api.github.com/users/danmoran-pro/repos","events_url":"https://api.github.com/users/danmoran-pro/events{/privacy}","received_events_url":"https://api.github.com/users/danmoran-pro/received_events","type":"User","site_admin":false},{"login":"leiyakenney","id":45922590,"node_id":"MDQ6VXNlcjQ1OTIyNTkw","avatar_url":"https://avatars3.githubusercontent.com/u/45922590?v=4","gravatar_id":"","url":"https://api.github.com/users/leiyakenney","html_url":"https://github.com/leiyakenney","followers_url":"https://api.github.com/users/leiyakenney/followers","following_url":"https://api.github.com/users/leiyakenney/following{/other_user}","gists_url":"https://api.github.com/users/leiyakenney/gists{/gist_id}","starred_url":"https:/[...]
