<section id= 'gh_user-<%= user.name %>'>
  <tr>
    <td><%= image_tag user.picture, class: 'profile-image' %></td>
    <td><p><%= link_to user.name, user.link %>
    <% if facade.find_user(user.name) %>
      <%= link_to "Add as Friend", users_friend_path(friend_id: facade.user_id(user.name)), class: "btn", method: :post %></p></td>
    <% end %>
  </tr>
</section>
