<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Thank you! Your account is now activated.</h2>
    <%= link_to "Click here to go back to your home page.", root_path %>
  </body>
</html>
